In [38]:
import os
import sys

sys.path.append('/home/mei/Docments/deepsort/exp/20220512')

from utils.load_data import *

import json
from pathlib import Path
import pandas as pd

In [131]:
json_path = '/home/mei/Documents/deep_sort/exp/20220512/data/wtnb_0528.json'
annotate_name = 'wtnb'
date='0528'

In [132]:
with open(str(json_path),'r') as f:
    tmp = json.load(f)

In [134]:
df = pd.read_json(str(json_path))
n = len(df)

In [135]:
for i in range(n): 
    df = pd.read_json(str(json_path))
    video_name=df.iloc[i]['data']['video_url'].split('/')[-1].split('.')[0]
    df = pd.DataFrame(df.iloc[i,:]['annotations'])
    df = pd.DataFrame(df['result'][0])
    df = pd.DataFrame(df['value'])
    df = pd.DataFrame(df['value'].apply(lambda x: pd.Series(x)))
    df['labels'] = df['labels'].apply(lambda x: x[0])
    df.to_csv(f'/home/mei/Documents/deep_sort/exp/20220512/data/{video_name}_{annotate_name}_{date}.csv',index=False)

In [138]:
df_path = '/home/mei/Documents/deep_sort/exp/20220512/data/ssk_0528.csv'

In [157]:
df = pd.read_csv(df_path)

In [168]:
_df

           start          end labels
0      57.497860    57.647860     OA
1      58.297860    58.439526     XB
2      58.631193    58.739526     XA
3      70.772847    70.914514     OA
4      72.556179    72.639512     XB
..           ...          ...    ...
388  2425.726531  2425.862245     OB
389  2426.119388  2426.240817     XA
390  2453.190814  2453.312242     OB
391  2453.783671  2453.912242     XA
392  2454.069385  2454.176528     OB

[393 rows x 3 columns]

In [169]:
annotate_name='ssk'
date='0528'
for i in range(len(df)):
    _df = df.iloc[i,:]
    video_name=_df['video_url'].split('/')[-1].split('.')[0]
    _df = _df['tricks']
    _df = pd.DataFrame(json.loads(_df))
    _df['labels'] = _df['labels'].apply(lambda x: x[0])
    _df.to_csv(f'/home/mei/Documents/deep_sort/exp/20220512/data/{video_name}_{annotate_name}_{date}.csv',index=False)